{% extends "layout.html" %}

{% block content %}
<br><br><br>
<!-- Banner con caracteristicas de la pagina -->
<div class="container">
    <ul class="nav justify-content-center bg-dark">
        <li class="nav-item">
            <img src="https://spartangeek.com/assets/images/home/2022/envios.svg" >
            <a class="nav-link disabled text-light d-inline">Envios a todo el pais</a>
        </li>
        <li class="nav-item">
            <img src="https://spartangeek.com/assets/images/home/2022/payments.svg">
            <a class="nav-link disabled text-light d-inline">Compra 100% segura</a>
        </li>
        <li class="nav-item">
            <img src="https://spartangeek.com/assets/images/home/2022/warranty.svg">
            <a class="nav-link disabled text-light d-inline">Garantia de componentes</a>
        </li>
    </ul>
</div>
<br><br>

<!--Columna de la pagina con juegos-->
<div class="container bg-dark pb-3">
    <h1 class="text-center text-white py-3">La Computadora perfecta para tus juegos favoritos</h1>
    <div class="row">

        <div class="col-sm-3 col-md-4 col-lg-2">
            <div class="card">
                <img src="https://assets.spartangeek.com/cc/_targetThumbnail/pcg-fortnite2.webp" class="card-img-top" alt="...">
                <div class="card-body bg-secondary">
                  <h5 class="card-title">PC Gamer para jugar Fornite</h5>
                </div>
            </div>
        </div>

        <div class="col-sm-3 col-md-4 col-lg-2">
            <div class="card">
                <img src="https://assets.spartangeek.com/cc/_targetThumbnail/pcg-minecraf2.webp" class="card-img-top" alt="...">
                <div class="card-body bg-secondary">
                  <h5 class="card-title">PC Gamer para jugar Minecraft</h5>
                </div>
            </div>
        </div>

        <div class="col-sm-3 col-md-4 col-lg-2">
            <div class="card">
                <img src="https://assets.spartangeek.com/cc/_targetThumbnail/pcg-warzone2.webp" class="card-img-top" alt="...">
                <div class="card-body bg-secondary">
                  <h5 class="card-title">PC Gamer para jugar Warzone</h5>
                </div>
            </div>
        </div>

        <div class="col-sm-3 col-md-4 col-lg-2">
            <div class="card">
                <img src="https://assets.spartangeek.com/cc/_targetThumbnail/pcg-gta.webp" class="card-img-top" alt="...">
                <div class="card-body bg-secondary">
                  <h5 class="card-title">PC Gamer para jugar GTA V</h5>
                </div>
            </div>
        </div>

        <div class="col-sm-3 col-md-4 col-lg-2">
            <div class="card">
                <img src="https://assets.spartangeek.com/cc/_targetThumbnail/pcg-basic2.webp" class="card-img-top" alt="...">
                <div class="card-body bg-secondary">
                  <h5 class="card-title">PC Gamer gamma de entrada</h5>
                </div>
            </div>
        </div>

        <div class="col-sm-3 col-md-4 col-lg-2">
            <div class="card">
                <img src="https://assets.spartangeek.com/cc/_targetThumbnail/pcg-streaming2.webp" class="card-img-top" alt="...">
                <div class="card-body bg-secondary">
                  <h5 class="card-title">PC Gamer para Streamming</h5>
                </div>
            </div>
        </div>

    </div>
</div>
<br><br><br>

<!--Colaboradores-->
<div class="container bg-dark">
    <p class="text-center" style="font-size: 20px; font-weight:bold; color:white">Tu PC Gamer Armada con los Mejores Componentes</p>
    <p class="text-center text-white" >En DJ's HardWare seleccionamos las mejores marcas para asegurar la calidad<br>y desempeño de tu computadora Gamer</p>
    <div class="container row center">
      <div class="col"><img src="https://spartangeek.com/assets/images/brands/evga-logo.svg" alt="" class="responsive-img"></div>
      <div class="col"><img src="https://spartangeek.com/assets/images/brands/corsair-logo.svg" alt="" class="responsive-img"></div>
      <div class="col"><img src="https://spartangeek.com/assets/images/brands/coolermaster-logo.svg" alt="" class="responsive-img"></div>
      <div class="col"><img src="https://spartangeek.com/assets/images/brands/asus-logo.svg" alt="" class="responsive-img"></div>
      <div class="col"><img src="https://spartangeek.com/assets/images/brands/aerocool-logo.svg" alt="" class="responsive-img"></div>
      <div class="col"><img src="https://spartangeek.com/assets/images/brands/nvidia-logo.svg" alt="" class="responsive-img"></div>
      <div class="col"><img src="https://spartangeek.com/assets/images/brands/msi-logo.svg" alt="" class="responsive-img"></div>
      <div class="col"><img src="https://spartangeek.com/assets/images/brands/intel-logo.svg" alt="" class="responsive-img"></div>
      <div class="col"><img src="https://spartangeek.com/assets/images/brands/hyperx-logo.svg" alt="" class="responsive-img"></div>
      <div class="col"><img src="https://spartangeek.com/assets/images/brands/gigabyte-logo.svg" alt="" class="responsive-img"></div>
      <div class="col"><img src="https://spartangeek.com/assets/images/brands/nzxt-logo.svg" alt="" class="responsive-img"></div>
      <div class="col"><img src="https://spartangeek.com/assets/images/brands/pny-logo.svg" alt="" class="responsive-img"></div>
      <div class="col"><img src="https://spartangeek.com/assets/images/brands/razer-logo.svg" alt="" class="responsive-img"></div>
      <div class="col"><img src="https://spartangeek.com/assets/images/brands/ryzen-logo.svg" alt="" class="responsive-img"></div>
      <div class="col"><img src="https://spartangeek.com/assets/images/brands/xpg-logo.svg" alt="" class="responsive-img"></div>
      <div class="col"><img src="https://s3-us-west-1.amazonaws.com/spartangeek/cc/zotac-logo.svg?mtime=20190305085818" alt="" class="responsive-img"></div>
    </div>
</div>
<br><br><br>


{% endblock %}